<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userslist; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{ user.Name }}</td>
            <td>{{user.Role}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Phone}}</td>
            <td>{{user.Age}}</td>
            <td>{{user.Address}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['edit', user.Id]">Edit</button>
                &nbsp;
                <button type="button" class="btn btn-secondary btn-sm" (click)="onDelete(user.Id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>